.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.outer-div{
  float:none;
  margin-top: 40px;
  background: skyblue;
  height: 400px;
  width: 300px;
  border-radius: 5%;
  padding: 10px;
}


.inner-div
{
  background: beige;
  color: blueviolet;
  height: 100px;
  width: 200px;
  border-radius: 5%;
  padding-top: 30px ;
  margin-top: 30px;
  font-family:'Times New Roman', Times, serif;
 
}

.btn
{
  padding: 5px 5px;
  margin:2px 2px;
  background:cadetblue;
  color: azure;
}

.btn:hover{
  background: azure;
  color: grey;
}

body{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('download (1).png');
}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}